name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v4

    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable

    - name: Build
      run: cargo build --verbose --release

    - name: Get Binary Path
      id: bin-path
      shell: bash
      run: |
        if [ "${{ runner.os }}" == "Windows" ]; then
          echo "path=target/release/keys.exe" >> $GITHUB_OUTPUT
        else
          echo "path=target/release/keys" >> $GITHUB_OUTPUT
        fi

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: keys-${{ matrix.os }}
        path: ${{ steps.bin-path.outputs.path }}
